:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    background-color: var(--violet);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    font-family: 'Poppins', sans-serif;
}

#root {
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;
}

.navbar {
    margin-top: 1.5rem;
}

.navbar img {
    width: 7.9rem;
    margin-left: 1.8rem;
}

.mockup {
    margin-top: 1.5rem;
    justify-self: center;
    width: 300px;
}

.main-container {
    display: grid;
}

.main--content {
    display: grid;
    margin-top: 1.9rem;
    color: whitesmoke;
}

.main--title {
    justify-self: center;
    text-align: center;
    font-size: 1.37rem;
    max-width: 90%;
}

.main--info {
    margin-top: 1rem;
    text-align: center;
    justify-self: center;
    max-width: 90%;
    font-size: 0.9rem;
    opacity: 0.8;
}

.main--button { 
    width: 13rem;
    height: 2.2rem;
    margin-top: 1.3rem;
    justify-self: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    outline: none;
    border: none;
    color: var(--violet);
}

.footer {
    justify-self: center;
    justify-content: center;
    display: flex;
    column-gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.footer img {
    filter: invert(1);
    align-items: center;
}

.main--button:hover {
    background-color: var(--soft-magenta);
    color: whitesmoke;
    cursor: pointer;
}

.footer img:hover {
    cursor: pointer;
    filter: invert(27%) sepia(151%) saturate(2878%) hue-rotate(346deg) brightness(234%) contrast(97%);
}

@media(min-width: 600px) {
    .main-container {
        display: flex;
        column-gap: 3rem;
    }

    body {
        height: 100vh;
        background-image: url(./images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
    }

    #root {
        height: 100vh;
    }

    .mockup {
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        justify-self: center;
        width: 40%;
    }

    .main--content {
        display: block;
    }

    .main--title {
        text-align: left;
        font-size: 2.5rem;
    }

    .main--info {
        text-align: left;
        font-size: 1rem;
    }

    .footer {
        justify-self: right;
        margin-right: 3rem;
        margin-left: 0;
    }
}